body {
    width: 100vw;
    height: 100vh;
}

html, body {
    margin: 0;
    padding: 0;
  }  

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

#sidebar {
    flex: 1;
    max-height: 900px;
}

#content {
    flex: 2;
    display: flex;
    flex-direction: column;
    max-height: 919px;
}

label {
    display: block;
}

.row {
    display: flex;
}

img {
    width: 100%;
}

button {
    background-color: #596D48;
    color: white;
    border-radius: 3px;
    border-style: hidden;
    padding: 5px 10px;
}

.hero-section {
    background-color: #f2f2f2;
    flex: 1;
}

.form_section {
    box-shadow: 0 8px;
    flex: 1;
}

.footer-section {
    background-color: #f2f2f2;
    flex: 1;
}
